canvas {
    position: absolute;
    background-color: black;
    background: url(lv.jpg) center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: local;
}

body {
    background-color: black;
    margin: 0;
}

h1 {
    position: absolute;
    color: whitesmoke;
    font-display: inherit;
    text-align: center;
    font-size: 13vw;
    vertical-align: center;
}

h1:hover {
    color: #D66761;
}

.f_ {
  margin-left: 20vw;   
  margin-top: 40vh;
}
.s_ {
    margin-left: 10vw;   
    margin-top: 50vh;

}